html,
body {
    font: 16pt arial;
}

main>.container {
    padding: 0 15px;
}

main .bg-image {
    background-image: url('../images/libranet.jfif');
    background-position: 25% 35%;
}

#viz {
    /* width: 900px; */
    height: 900px;
    /* padding: 60px 15px 0; */
    border: 1px solid lightgray;
    font: 22pt arial;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}