{% extends 'admin/base.html' %}

{% block title %} {% if title %}{{ title.name }} {% else %} Tag {% endif %} | {{ super() }}{% endblock %}

{% block header_title %}Tag 編集{% endblock %}

{% block content %}
<div class="container detail">
    <form action="" method="post">
        {{ form.csrf_token }}
        {% for error in form.name.errors %}
        <p style="color: red;">{{ error }}</p>
        {% endfor %}
        <div class="row">
            <div class="col-2">{{ form.name.label }}</div>
            <div class="col-8">
                {{ form.name(class_="form-control") }}
            </div>
            <div class="w-100"></div>
            <div class="col-2">{{ form.uuid.label }}</div>
            <div class="col-8">
                {{ form.uuid(class_="form-control") }}
            </div>
        </div>
        <div class="d-grid gap-2 d-md-block mt-5">
            {{ form.submit(class_="btn btn-primary") }}
            {{ form.delete(class_="btn btn-danger me-md-2") }}
        </div>
    </form>
</div>
{% endblock content %}