{% extends 'base.html' %}

{% block title %} {% if title %}{{ title.name }} {% else %} Books {% endif %} | {{ super() }}{% endblock %}

{% block content %}

<h5 class="mt-5 mb-4">
    {% if title %}{{ title.name }}{% endif %}
</h5>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-2">
    {% for book in books %}
    <div class="col">
        <div class="card shadow-sm">
            <div class="text-center">
                {% if book['b']['image'] %}
                <img src="/images/books/{{book['b']['image']}}" height="250px" alt="{{book['b']['title']}}">
                {% else %}
                <img src="/images/books/no-image.jpg" height="250px" alt="no-iamge">
                {% endif %}
            </div>
            <div class="card-body">
                <p class="card-text">{{book['b']['title']}} {{book['b']['sub_title']}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="/books/{{book['b']['book_id']}}/"><button type="button"
                                class="btn btn-sm btn-outline-secondary">View</button></a>
                    </div>
                    <div>
                        {% for r in book['authors'] %}
                        <small class="text-muted" style="display: block;">{{r.name}}</small>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if total_num > limit %}
<section class="mt-5 al">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if current_page == 1 %} disabled {% endif %}">
                <a class="page-link" href="?page=1&limit={{limit}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for i in range(pagination_num) %}
            <li class="page-item {% if current_page == i + 1 %} active {% endif %}">
                <a class="page-link" href="?page={{i+1}}&limit={{limit}}">{{i+1}}</a>
            </li>
            {% endfor %}
            <li class="page-item {% if current_page == pagination_num %} disabled {% endif %}">
                <a class="page-link" href="?page={{pagination_num}}&limit={{limit}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</section>
{% endif %}
{% endblock %}